In [1]:
from multiple_linear_regression import MultipleLinearRegression
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('babybirds.txt', sep="\t")
data

     Vent  O2  CO2
0     -49  19  0.0
1       0  19  0.0
2     -98  19  0.0
3     148  19  0.0
4      49  19  0.0
..    ...  ..  ...
115   406  13  9.0
116   258  13  9.0
117   160  13  9.0
118   455  13  9.0
119   -37  13  9.0

[120 rows x 3 columns]

In [3]:
x = np.array(data[['O2', 'CO2']])
x.shape

(120, 2)

In [4]:
y = np.array(data['Vent'])
y.shape

(120,)

In [6]:
model = MultipleLinearRegression()

AttributeError: 'MultipleLinearRegression' object has no attribute '__p_dims'